{
    "presets": [
        "react",
        "es2015",
        "stage-0"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "components": "/components",
                    "actions": "/actions",
                    "containers": "/containers",
                    "images": "/images",
                    "reducers": "/reducers",
                    "styles": "/styles",
                    "utils": "/utils"
                }
            }
        ],
        [
            "react-hot-loader/babel"
        ]
    ]
}