{
    "extends": "rallycoding",
    "env": {
        "browser": true,
        "node": true,
        "jest/globals": true
    },
    "globals": {
        "React": true
    },
    "ecmaFeatures": {
        "jsx": true
    },
    "plugins": [
        "react",
        "jest"
    ],
    "rules": {
        "import/no-extraneous-dependencies": 0,
        "import/no-unresolved": 0,
        "react/require-extension": 0,
        "no-unused-expressions": 0,
        "import/imports-first": 0,
        "arrow-body-style": 0,
        "no-param-reassign": 0,
        "no-nested-ternary": 0,
        "indent": ["error",4],
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/valid-expect": "error",
        "no-new": 0
    }
}